
.hero {
  min-height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    url('https://images.unsplash.com/photo-1500937386664-56d1dfef3854');

  background-size: cover;
  background-position: center;
}

.hero-content {
  max-width: 650px;
  color: white;
}

.hero-content h1 {
  font-size: 45px;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  background: #2e7d32;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-size: 16px;
}

.btn:hover {
  background: #1b5e20;
}


.features {
  padding: 50px 40px;
  text-align: center;
}

.features h2 {
  color: #2e7d32;
  font-size: 30px;
  margin-bottom: 35px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.card {
  width: 220px;
  padding: 25px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);
}

.card:hover {
  transform: translateY(-5px);
}

.icon {
  font-size: 40px;
}

.card h3 {
  color: #2e7d32;
}

.card p {
  color: #666;
  line-height: 1.5;
}